.add-offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-offer button {
  margin: 0.5rem;
}

.table-container{
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem;
}

mat-paginator {
  position: fixed;
  bottom: 0;
  right: 0;
}

.mat-actions-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-snack-bar-container {
  background-color: #ff0000;
}

